---
version: '2'
services:
  mysql:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment: 
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - ./database:/docker-entrypoint-initdb.d/:ro

  webapp:
    build: ./webapp
    stdin_open: true
    links:
      - mysql
    environment:
      MYSQL_DB_USER: root
      MYSQL_DB_PASS: root
      MYSQL_DB_PORT: 3306
      FLASK_APP_PORT: 5001
      FLASK_ENV: development
      FLASK_SECRET_KEY: ${FLASK_SECRET_KEY}
    volumes:
      - ./webapp/logs:/logs
      - ./webapp/static:/static
      - ./webapp/templates:/templates
    ports: 
      - "5001:5001"
    expose:
      - "5001"
      