{% extends 'character_edit.html' %}

{% block title %} Edit {{ character.name }} {% endblock %}

{% block form_fields %} 

    <h3>Character History Questions</h3>
    {% for q in character.playbook.history_questions %}
    <div class="form-group">
        <label for="history_questions">{{ q }}</label>
        <input type="text" name="history_questions" id="history_questions" 
               class="form-control" value="{{ request.form['history_questions'] }}"></input>
    </div>
    {% endfor %}

    <h3>Character Connections</h3>
    {% for c in character.playbook.connections %}
    <div class="form-group">
        <label for="connections">{{ c.replace('$BLANK$', '_'*8) }}</label>
        <input type="text" name="connections" id="connections" 
               class="form-control" value="{{ request.form['connections'] }}"></input>
    </div>
    {% endfor %}

{% endblock %}